.infoCard {
    height: 3vh;
    width: 80%;
    border: 1px solid rgb(80, 80, 80);
    display: flex;
    border-radius: 0 1vmin 1vmin 0;

    .iconContainer {
        background-color: darkgray;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            color: gray;
            font-size: 150%;
        }
    }

    .attribute {
        font-size: 2vmin;
        line-height: 100%;
        display: flex;
        padding-left: 2%;
        align-items: center;
        background-color: #f1efef;
        color: gray;
        flex: 9;
        border-radius: 0 1vmin 1vmin 0;
    }
}
