.home {
    display: flex;
    justify-content: center;
    width: 100%;

    .homeContainer {
        flex: 6;

        .widgets,
        .charts {
            display: flex;
            gap: 1vmin;
            margin-left: 2%;
            margin-right: 2%;
        }

        .widgets {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15vh;
        }

        .charts {
            padding: 1.5%;
            gap: 2%;
            height: auto;
            margin-bottom: 1%;
            flex: 1;

            .featured {
                display: flex;
                flex-direction: column;
                padding: auto;
                justify-content: space-between;
                height: auto;
            }

            .title {
                font-size: 2vmin;
            }

            .chart {
                max-height: 100% !important;
                width: auto !important;
                display: flex;
                justify-content: space-between !important;
                align-items: center;
                padding: 1% !important;

                .top {
                    padding: 1%;

                    .toggle {
                        height: 3vmin;
                        width: 5vmin;
                    }
                }

                .recharts-responsive-container {
                    width: 100% !important;
                    max-height: 80% !important;
                }

                .recharts-surface {
                    min-width: 100% !important;
                    max-height: 80% !important;
                    // min-height: 100% !important;
                    position: relative;
                }

                .recharts-curve {
                    min-width: 100% !important;
                    min-height: 100% !important;
                }

                .recharts-area-area {
                    width: 100% !important;
                }

                .recharts-wrapper {
                    max-height: 80% !important;
                    height: fit-content !important;
                    // max-height: 50vh !important;
                    min-width: 100% !important;
                    // margin-top: 10%;
                    // margin-bottom: 15%;
                }

                .recharts-wrapper {
                    // margin-top: 1%;
                    min-width: 100% !important;
                    max-height: 60% !important;
                    justify-self: center !important;
                    max-height: max-content;
                    max-width: max-content;
                }
            }
        }

        .listContainer {
            padding: 3%;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            margin-left: calc(2% + 1.5%); // padding + padding
            margin-right: calc(2% + 1.5%); // gap minus padding (2% - 1.5%)
            flex: 1;

            .table {
                width: 95%;
                margin: auto;
                padding: auto;
                margin-bottom: 1%;
            }

            .listTitle {
                font-size: 2vmin;
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}
