.singlePage {
    display: flex;
    width: 100%;

    .singleContainer {
        flex: 6;
        overflow: hidden;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        gap: 2%;

        .top {
            height: 50%;
            display: flex;
            gap: 2%;

            .title {
                font-size: 2vmin;
            }

            .chart {
                height: 95%;
            }

            .left {
                flex: 2;
                height: 95%;
                margin-left: 2%;

                .detail-card {
                    min-height: 100%;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    padding: 1%;
                    padding-bottom: 2%;

                    .bio {
                        height: 30%;
                        padding: 4%;
                        display: flex;
                        align-items: center;
                        gap: 5%;
                        max-width: 100%;

                        .itemImg {
                            width: 10vmin;
                            height: 10vmin;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .itemTitle {
                            color: gray;
                            font-size: 1.5vmin;
                            margin-left: 5%;
                        }
                    }

                    .info {
                        height: 80%;
                        padding: 4%;
                        display: flex;
                        flex-direction: column;
                        margin-left: 5%;
                        margin-right: 5%;

                        .detailItem {
                            margin-bottom: 5%;
                            font-size: 2vmin;
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            .itemKey {
                                font-weight: bold;
                                color: gray;
                                margin-right: 2%;
                                font-size: 2vmin;
                            }

                            .itemValue {
                                font-weight: 300;
                                font-size: 1.5vmin;
                                align-items: flex-end;
                            }
                        }
                    }
                }
            }

            .right {
                flex: 3;
                height: 95%;
                margin-right: 2%;

                .chart {
                    color: gray;
                    background-color: white;
                    max-width: 98%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5%;
                    padding: 1%;

                    .top {
                        height: 10%;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        color: gray;
                        font-size: 2vmin;

                        .title {
                            font-weight: 500;
                        }
                    }

                    .bottom {
                        height: 85%;
                        padding: 0;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            height: 50%;
            flex: 1;
            background-color: #fff;
            margin: 0 2%;
            padding: 1%;

            .title {
                font-size: 2vmin;
                margin-bottom: 1%;
                font-weight: 500;
                color: gray;
                font-size: 2vmin;
            }
        }
    }
}
